body {
	background-color: #14110e;
}
.wrapper {
	padding: 0 5rem;
}
.wrapper__section {
	display: flex;
	justify-content: center;
	padding: 3rem 0;
}

.wrapper__col {
	width: calc(100% / 3 - 1rem);
	background-color: #121315;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	padding: 2rem;
}

img {
	max-width: 100%;
	height: auto;
}

.col__title {
	font-family: Righteous;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
}

.col__text {
	font-family: Urbanist;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 19px;
	text-transform: uppercase;
	color: #c99e71;
}

.col__text-price {
	font-family: Urbanist;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: -10px;
}

.btn {
	background-color: #c99e71;
	color: #ffffff;
	font-family: Urbanist;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 22px;
	margin: 2rem 0;
	border-radius: 0;
	padding: 10px;
}
.shop-bag {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.col__btn {
	display: flex;
	justify-content: center;
	margin: 0;
	text-align: center;
}
.col__text {
	margin-top: 1rem;
}

.col__part {
	margin-top: 1rem;
	text-align: center;
}

.col__part-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-2__button,
.button {
	display: flex;
	justify-content: center;
}

.section-1 {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 10px;
}
.col-one {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.col-two {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.col-three {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}

.col-four {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
	background-color: #1c1814;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 0 2rem;
}

.price {
	color: #c99e71;
}

.wrapper__section-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__section__text {
	font-family: Urbanist;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #c99e71;
}

.wrapper__section__title {
	font-family: Righteous;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 130%;
	color: #ffffff;
}

.wrapper__section__content {
	font-family: Urbanist;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.8);
	opacity: 0.8;
}

.wrapper__form {
	background-color: #1c1814;
	padding: 3rem 2rem;
	padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {
	.section-1 {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);
	}

	.col-one {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
	}

	.col-two {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
	}

	.col-three {
		display: none;
	}

	.col-four {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
		padding: 2rem;
	}

	.star {
		width: 15px;
		height: 15px;
	}

	.btn,
	.col__title {
		font-size: 12px;
		line-height: 20px;
		margin-top: 10px;
	}

	.col__text-price {
		font-size: 10px;
	}

	.col__text {
		display: block;
		margin-top: 0;
	}
}

@media screen and (max-width: 768px) {
	.wrapper__col {
		width: calc(100% / 2 - 1rem);
	}
	.wrapper__map {
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 576px) {
	.container {
		width: auto;
		margin: 0 1rem;
	}

	.wrapper__col {
		width: 80%;
	}

	.wrapper {
		margin: 0 1rem;
		padding: 0 2rem;
	}
	.wrapper__section__title {
		font-size: 20px;
	}

	.wrapper__section__text {
		font-size: 14px;
	}

	.wrapper__section__content {
		font-size: 12px;
	}
}

@media screen and (max-width: 375px) {
	.wrapper__col {
		width: calc(100% - 2rem);
	}
}
